/* Example https://github.com/tradingview/charting_library/blob/master/themed.css */

:root:not(.theme-dark) {
  --tv-color-platform-background: rgba(187, 175, 144, 0.3);
  --tv-color-pane-background: rgba(187, 175, 144, 0.2);
  --tv-color-toolbar-button-text-active: rgb(158, 102, 156);
  --tv-color-toolbar-button-text-active-hover: rgb(168, 108, 166);
  --tv-color-toolbar-divider-background: rgba(67, 70, 81, 0.5);
  --tv-color-toolbar-button-background-hover: rgba(255, 255, 255, 0.33);
  /*
  --tv-color-popup-background: rgb(192, 180, 149);
  --tv-color-pane-background-secondary: rgb(192, 180, 149);
  --tv-color-toolbar-button-background-secondary-hover: red;
  --tv-color-toolbar-button-background-expanded: rgb(244, 143, 177);
  --tv-color-toolbar-button-text: rgb(136, 24, 79);
  --tv-color-toolbar-button-text-hover: rgb(74, 20, 140);
  --tv-color-item-active-text: rgb(6, 6, 255);
  --tv-color-toolbar-toggle-button-background-active: red;
  --tv-color-toolbar-toggle-button-background-active-hover: magenta;
  */
  [class^="paneSeparator-"] {
    background: rgba(157, 145, 114, 1) !important;
  }
  [class^="price-axis-currency-label-wrapper"] > div {
    background: rgba(187, 175, 144, 1) !important;
    /* border-color: rgba(67, 70, 81, 0.5); */
    border: none;
  }
}

.theme-dark:root {
  --tv-color-platform-background: rgba(58, 61, 68, 0.3);
  --tv-color-pane-background: rgba(58, 61, 68, 0.2);
  --tv-color-toolbar-button-text-active: #008080;
  --tv-color-toolbar-button-text-active-hover: #008080;
  --tv-color-toolbar-divider-background: rgba(67, 70, 81, 0.5);
  /* 
  --tv-color-popup-background: rgb(192, 180, 149);
  --tv-color-pane-background-secondary: rgba(58, 61, 68, 0.5);
  --tv-color-toolbar-button-background-hover: #3A3A3A;
  --tv-color-toolbar-button-background-secondary-hover: #3A3A3A;
  --tv-color-toolbar-button-background-expanded: #787878;
  --tv-color-toolbar-tooltip-text: #787878;
  --tv-color-toolbar-button-text: #787878;
  --tv-color-toolbar-button-text-hover: #787878;
  --tv-color-item-active-text: #787878;
  --tv-color-toolbar-toggle-button-background-active: #2F2F48;
  --tv-color-toolbar-toggle-button-background-active-hover: #787878; 
  */
  [class^="paneSeparator-"] {
    background: rgba(78, 81, 88, 1) !important;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@100;200;300;400;500;600;700;800;900;1000&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900;1000&family=Roboto+Mono:ital,wght@1,700&display=swap'); */

* {
  font-family: 'Roboto Mono', monospace !important;
}

#header-toolbar-symbol-search {
  width: 160px;
}
